---
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import '../../styles/global.css';

const pageTitle = "Photography";

const identity = {
    firstName: "August",
    country: "United States",
    occupation: "photographer",
    hobbies: ["photography", "rock climbing", "slacklining", "writing"]
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

const groupRate = 70;
const individualRate = 50;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: magenta;
              font-size: 4rem;
            }

            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
	</head>
	<body>
        <Navigation />

		<h1>{pageTitle}</h1>

        <p>Available Services:</p>

        <p>Individual Photoshoot: ${individualRate}/hour</p>
        <p>Group Photoshoot: ${groupRate}/hour</p>

        <Footer />
    </body>
</html>
