---
const platform = "github"
const username = "withastro"
const platform2 = "Instagram"
const username2 = "augustnewell"
---

<footer>
    <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <p>Follow me on {platform2}: <a href={`https://${platform2}.com/${username2}`}>@{username2}</a></p>
</footer>